<!-- footer.ejs -->
<footer class="text-white text-center text-lg-start" style="background: linear-gradient(to right, #511592, #2575fc);">
  <div class="container p-4">
    <p>Designed by Lê Vĩ Khang</p>
    <p>Email: <a href="mailto:VieKean@gmail.com" class="text-white">VieKean@gmail.com</a></p>
  </div>
</footer>
