<nav class="navbar navbar-expand-lg" style="background: linear-gradient(to right, #6a11cb, #2575fc); padding-left: 100px; padding-right: 100px;">
  <div class="container-fluid">
    <img style="width: 100px; height: 100px;" src="images/logo300x300.png" alt="Logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/listuser">List User</a>
        </li>

        <!-- Dropdown menu for categories -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <% categories.forEach(category => { %>
              <li><a class="dropdown-item" href="/products/category/<%= category.category_id %>"><%= category.name %></a></li>
            <% }) %>
          </ul>
          
        </li>
      </ul>

      <% if (!user) { %><a class="nav-link text-white" href="/register">Tạo tài khoản User</a>
        <% } %>
          <ul class="navbar-nav">
            <% if (user) { %>
              <li class="nav-item">
                <span class="text-white me-3">Xin chào: <%= user.username %></span>
              </li>
              <li class="nav-item">
                <form action="/logout" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-danger btn-sm">Đăng xuất</button>
                </form>
              </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/login">Đăng nhập</a>
                </li>
                <% } %>
          </ul>
    </div>
  </div>
</nav>
